<:Body>
  <div class="form-group {{ if errors }}has-error{{ elsif marked }}has-success{{ end }} has-feedback">
    {{ if label }}
      <label class="control-label">{{ label }}</label>
    {{ end }}
    <select value="{{ attrs.value }}" e-change="blur" class="form-control">
      {{ if attrs.value.nil? }}
        <option value="" selected>
        </option>
      {{ end }}
      {{ optgroups.each do |group_name| }}
          optgroup_name: {{ group_name }}
          {{ if group_name != '' }}
            <optgroup label="{{ group_name }}">
              <:option_row controller_group="index" value="{{ attrs.value }}" group_options="{{ options(group_name) }}"/>
            </optgroup>
          {{ else }}
            <:option_row controller_group="index" value="{{ attrs.value }}" group_options="{{ options(group_name) }}"/>
          {{ end }}
      {{ end }}
    </select>
    {{ if attrs.help_text }}
      <span class="help-block">{{ raw(attrs.help_text) }}</span>
    {{ end }}
    {{ if errors }}
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      <span class="control-label errors">{{ (errors || []).join(', ') }}</span>
    {{ elsif marked }}
      <span class="glyphicon glyphicon-ok form-control-feedback"></span>
    {{ end }}
  </div>

<:OptionRow>
  OptionRow group_options: {{ attrs.group_options }}
  {{ attrs.group_options.each do |option| }}
    {{ if option[:value] == attrs.value }}
      <option value="{{ option[:value] }}" selected>
        {{ option[:label] }}
      </option>
    {{ else }}
      <option value="{{ option[:value] }}">
        {{ option[:label] }}
      </option>
    {{ end }}
  {{ end }}
