<:Body>
  <div class="{{ if errors }}has-error{{ elsif marked }}has-success{{ end }}">
    {{ if label }}
      <label class="control-label">
        {{ label }}
        {{ if errors }}
          <span class="md md-close radio-feedback"></span>
        {{ end }}
      </label>
    {{ end }}
    {{ if errors }}
      <small class="help-block">
        {{ unless label }}<span class="md md-close radio-feedback"></span>{{ end }}
        <span class="control-label errors">{{ (errors || []).join(', ') }}</span>
      </small>
    {{ elsif marked }}
      <span class="md md-check form-control-feedback"></span>
    {{ end }}
    {{ options.each do |option| }}
      <div class="radio">
        <label>
          {{ if selected?(option) }}
            <input type="radio" e-click="set(option)" checked name="{{ name }}" value="{{ option[:value] }}"/>
            {{ else }}
            <input type="radio" e-click="set(option)" name="{{ name }}" value="{{ option[:value] }}"/>
          {{ end }}
          <i class="input-helper"></i>{{ option[:label] }}
        </label>
      </div>
    {{ end }}
  </div>
