<:Body>
  <div class="{{ if attrs.prepend_class }} input-group {{ else }} form-group {{ end }}{{ if errors }}has-error{{ elsif marked }}has-success{{ end }} has-feedback">
    {{ if attrs.prepend_class }}
      <:fields:addons:prepend prepend_class="{{ attrs.prepend_class }}"/>
    {{ end }}
    <div class="fg-line">
      <input type="{{ @type }}" value="{{ attrs.value }}" e-focusout="blur" class="form-control" placeholder="{{ attrs.placeholder }}" />
    </div>
    {{ if errors }}
      <small class="help-block {{ if attrs.prepend_class }} has-prepend {{ end }}">{{ (errors || []).join(', ') }}</span>
      <span class="md md-close form-control-feedback"></span>
    {{ elsif marked }}
      <span class="md md-check form-control-feedback"></span>
    {{ end }}
  </div>
