<:Body>
  <div class="{{ input_class_string }}">
    {{ if attrs.prepend_class }}
      <:fields:addons:prepend prepend_class="{{ attrs.prepend_class }}"/>
    {{ end }}
    <div class="fg-line {{ toggle_class }}">
      {{ if attrs.label && attrs.label_type != 'float' }}
        <label class="control-label">{{ attrs.label }}</label> 
      {{ end }}
      <input type="{{ @type }}" value="{{ attrs.value }}" e-focusin="toggle" e-focusout="blur" class="form-control" placeholder="{{ attrs.placeholder }}" />
    </div>
    {{ if attrs.label && attrs.label_type == 'float' }}
      <label class="fg-label">{{ attrs.label }}</label>
    {{ end }}
    {{ if errors }}
      <small class="help-block {{ if attrs.prepend_class }} has-prepend {{ end }}">{{ (errors || []).join(', ') }}</span>
      <span class="md md-close form-control-feedback"></span>
    {{ elsif marked }}
      <span class="md md-check form-control-feedback"></span>
    {{ end }}
  </div>
